
# python --version
# python -m pip show openai
# Python 3.12.13
# Name: openai
# Version: 3.2.0
# Summary: The official Python library for the openai API
# Home-page: https://github.com/openai/openai-python
# Author:
# Author-email: OpenAI <support@openai.com>
# License: Apache-2.0
# Location: /Users/jdebski/Documents/GitHub/arXiv_feed/.venv/lib/python3.12/site-packages
# Requires: anyio, distro, httpx2, jiter, pydantic, sniffio, tqdm, typing-extensions
# Required-by:
